name: CI

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  type-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup pnpm
        run: corepack enable && corepack prepare

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 24

      - name: Install
        run: pnpm install --frozen-lockfile

      - name: Typecheck
        run: pnpm type-check

  test:
    runs-on: ${{ matrix.os }}
    needs: [type-check]

    strategy:
      fail-fast: false
      matrix:
        node: [16, 24]
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v3

      - name: Setup pnpm
        run: corepack enable && corepack prepare

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}

      - name: Install
        run: pnpm install --frozen-lockfile

      - name: Test
        run: pnpm test
